.LoginContainer{
    width: 33rem;
    height: 30rem;
    
    position: relative;
    left: 29%;
    top: 6rem;
    
    border: 1px solid black;
}
.LoginHeader{
    display: flex;
    padding-left: 9rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.LoginHeaderIMG{
    width: 4rem;
    height: 4rem;
    text-align: left;
}
.LoginHeaderP{
    margin-left: 20px;
    font-size: 45px;
    font-weight: bold;
    color: #212121;
}
.LoginMain{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.LoginLabel{
    margin-bottom: 0.4rem;
    margin-top: 1rem;
}
.LoginInput{
    height: 2rem;
}
.LoginButton{
    background-color: #212121;
    
    width: 29rem;
    height: 3rem;
    
    border: none;
    
    margin-left: 2rem;
    margin-top: 2rem;
    
    text-align: center;
    font-size: 18px;
    font-style: normal;
    color: white;
}
